<h1>Welcome Home Valient Developer</h1>
<h3>View your Projects</h3>
<div class="links">
  <%= link_to "View The Open Code", projects_path %>
</div>
<br>
<div class="links">
  <%= link_to "Create New Project", new_project_path %>
</div>
<h3>Create a Time Entry</h3>
<div class="links">
  <%= link_to "Document This Now", new_time_entry_path %>
</div>
<br>
<div class="links">
  <%= link_to "Puruse Your Time", time_entries_path %>
</div>
<br>
