<h1>Welcome Home Valient Developer</h1>
<h3>View your projects</h3>
<div class="links">
  <%= link_to "Create Beauty Here", projects_index_path %>
</div>
<h3>Project.where Time is running out</h3>
<div class="links">
  <%= link_to "Moments Pass So Quick", projects_show_path %>
</div>
<h3>Create a Time Entry</h3>
<div class="links">
  <%= link_to "Documented Now", time_entries_new_path %>
</div>
