
<section id="cd-intro">
		<div id="cd-intro-background"></div>
		<div id="cd-intro-tagline">
			<h1>Time Waits for Nobody</h1>
		</div> <!-- cd-intro-tagline -->
	</section> <!-- #cd-intro -->

	<main class="cd-content">
		<div class="cd-container">
			<p>The clock continuously ticks the seconds away.  You're on a deadline and your fingers are flying.  How do you keep track of the hours you've put in on the project? How do you know if the hours on the project are going over the budgeted time allowed? Have no fear, Time Tracker is here to ease your mind. Enter the site to have your mind put to ease. </p>
	</main> <!-- cd-content -->
