<%= image_tag asset_url("conscious-time.jpg"), class: "background-image" %>
<div class = "login-ribbon">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to "Login", new_path %></button>
  <button type="button" class="btn btn-default navbar-btn"><%= link_to "Sign Up", new_developer_path %></button>
</div>
