/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// .welcome {
//   color: #40526b;
// }
.over {
  color: red;
}

.table-body {
  padding-left: 60px;
}
.table-head {
  padding-left: 40px;
}

.header-title {
  color: white;
}
.time-page {
  padding-left: 380px;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: beige;

}
.root-page {
  padding-left:350px;
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: beige;
}
.login-ribbon {
  color: #407aba;
  font-size: 4em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  // background: hsla(360, 100%, 100%, 0.5);
  position: absolute;
  top: 155px;
  left: 0;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  input {
    font-family: sans-serif;
    color: white;
    border: solid 3px #fff;
    line-height: 1.5;
    padding: 5px 10px;
    background: transparent;
    font-size: 0.4em;
  }
}

.background-image {
  position: relative;
  opacity: .6;
  width: 100%;
}

.link {
  text-decoration: none;
}
.table-headers {
  color: #40526b;
}
